extends ../layout

block content
  center
    h2 LOGIN

  center
    form#login-form(action='/auth/login', method='POST')
      .input-field
        i.material-icons mail
        input#email(type='email', name='email', placeholder='EMAIL ADDRESS')
      .input-field
        i.material-icons fingerprint
        input#password(type='password', name='password', placeholder='PASSWORD')
      .input-field
        input.gc-button(type='submit', value=' SIGN IN ')

      p.center FORGOT PASSWORD?
      p.center DON'T HAVE AN ACCOUNT?
        a(href='/auth/signup') &nbsp;SIGN UP!

      i.social.fab.fa-facebook.fa-2x
      i.social.fab.fa-google-plus-g.fa-2x
      i.social.fab.fa-twitter.fa-2x
