extends ../layout

block content
  if error
    span.error-badge.red.white-text.badge(data-badge-caption=`${error}`)

  center
    h2.pageTitle LOGIN

  center
    .row
      .col.s12
        .col.s3
        .col.s6
          form(action='/auth/login', method='POST')
            .input-field
              //- i.material-icons mail
              input#email(type='email', name='email')
            label.par email address
            br
            .input-field
              //- i.material-icons fingerprint
              input.par#password(type='password', name='password')
            label.par password
            br
            br
            .input-field
              input.gc-button.par(type='submit', value=' SIGN IN ')

            br
            p.par.center FORGOT PASSWORD?
            br
            br
            p.par.center DON'T HAVE AN ACCOUNT?
              a#log_sign(href='/auth/signup') &nbsp;sign up!
            br
            br
            //- i.social.fab.fa-facebook.fa-2x
            //- i.social.fab.fa-google-plus-g.fa-2x
            //- i.social.fab.fa-twitter.fa-2x
