extends ../layout

block content
  if error
    span.error-badge.red.white-text.badge(data-badge-caption=`${error}`)

  center
    h2 SIGN UP

  center
    form#login-form(action='/auth/signup', method='POST')
      .input-field
        i.material-icons person
        input#email(type='text', name='first_name', placeholder='FIRST NAME')
        input#email(type='text', name='last_name', placeholder='LAST NAME')

      .input-field
        i.material-icons mail
        input#email(type='email', name='email', placeholder='EMAIL ADDRESS')
      .input-field
        i.material-icons fingerprint
        input#password(type='password', name='password', placeholder='PASSWORD')
      .input-field
        input.gc-button(type='submit', value=' SIGN UP ')

      p.center FORGOT PASSWORD?
      p.center ALREADY HAVE AN ACCOUNT?
        a(href='/auth/login') &nbsp;LOGIN!
