extends ../layout

block content
  if error
    span.error-badge.red.white-text.badge(data-badge-caption=`${error}`)

  center
    h2.pageTitle SIGN UP

    .row
      .col.s12
        .col.s3
        .col.s6
          center
            form(action='/auth/signup', method='POST')
              .input-field
                //- i.material-icons person
                input#email(type='text', name='first_name')
              label.par first name
                br
                br
                input#email(type='text', name='last_name')
              label.par last name
                br
                br
              .input-field
                input#email(type='email', name='email')
              label.par email address
                br
                br
              .input-field
                input#password(type='password', name='password')
              label.par password
                br
                br
              .input-field
                input.gc-button(type='submit', value=' SIGN UP ')
                br
              p.par.center FORGOT PASSWORD?
                br
              p.par.center ALREADY HAVE AN ACCOUNT?
                a#log_sign(href='/auth/login') &nbsp;login!
