footer.page-footer.grey.darken-2.white-text
  //- .row
  //-   .col.s12
  //-   .col.s1
  //-   .col.s1
  //- .center
  //-   h5.lightGrey_color NEWSLETTER
  //-   p#footerParagraph.hide-on-small-only do the right thing. stay informed.
  //-   form(method='POST', action='/subscribe')
  //-     .input-field
  //-       input.gc-button.lightGrey_color(type='submit', value=' SUBSCRIBE ')
  //-   .col.s7#to_the_left
    //- .col.s1
    //-   ul.hide-on-small-only
    //-     li.footerLi
    //-       a.white-text(href='/about')
    //-         | our story
    //-     li.footerLi
    //-       a.white-text(href='/faq')
    //-         | FAQs
    //-     li.footerLi
    //-       a.white-text(href='/contact')
    //-         | contact us
    //-     li.footerLi
    //-       a.white-text(href='/privacy')
    //-         | privacy & terms
  .center(style='height: 1rem;')
    ul#footer-links
      li
        a.par(href='/contact') contact us
      li |
      li
        a.par(href='/faq') faq
      li |
      li
        a.par(href='/privacy') privacy & terms

  .footer-copyright.grey.darken-2.white-text.footerText.center
    p.copyright_text ©GO CHU KITCHEN 2017. ALL RIGHTS RESERVED
