footer.page-footer.grey.lighten-4.black-text.footer
  .container
    .row
      .col.l6.s6
        h5 NEWSLETTER
        p do the right thing. stay informed.
        form(method='POST', action='/subscribe')
          .input-field
            input.gc-button(type='submit', value=' SUBSCRIBE ')

      .col.l3.s6
        ul
          li our mission
          li about us
          li contact us
          li privacy & terms

  .footer-copyright.grey.lighten-3.black-text
    p ©GO CHU KITCHEN 2017. ALL RIGHTS RESERVED