extends layout

block content
  body
    //- .show-on-medium-and-down.hide-on-large-only 
    .row
      .col.s8
        img#homepageMSm(src='/images/homepage.png' alt='homepage background')
        br
        br
        br
        a#homepageButtMSm.href-button.par(href='/products') meet gochu

      .col.s4.hide-on-med-and-down.letters
        .row#bookmarks
          .col.s7.right
            a.linkColor(href='/products', hover)
              h1.letterFont p
              i.material-icons.icon-white fiber_manual_record
              .navFont products

          .col.s7.right
            a.linkColor(href='/blog', hover)
              h1.letterFont b
              i.material-icons.icon-white fiber_manual_record
              .navFont blog

          .row#bookmarks
            .col.s7.right
              a.linkColor(href='/recipes', hover)
                h1.letterFont r
                i.material-icons.icon-white fiber_manual_record
                .navFont recipes


            .col.s7.right
              a.linkColor(href='/cart', hover)
                h1.letterFont c
                i.material-icons.icon-white fiber_manual_record
                .navFont cart
    .row
      .col.s12
        img#homepageProbiotics(src='/images/probiotics.png' alt='homepage background')
        br
        br
        br



    //- .show-on-large.hide-on-med-and-up
    //-   .row
    //-     //- .s12.m4.l2
    //-     .col.s6

    //-       img#homepageLG.center-align(src='/images/homepage.png' alt='homepage background')
    //-       hr
    //-       hr
    //-       hr
    //-       hr
    //-       a#homepageButtLG.href-button.par(href='/products') meet gochu





  //- #index-banner.parallax-container.valign-wrapper.center
  //-   .section.no-pad-bot
  //-     .container
  //-       br
  //-       h1.header.center.white-text.text-lighten-2 Best Sauce in the Biz
  //-       .row.center
  //-         //- h5.header.col.s12.light Go Chu
  //-       .row.center
  //-         a.btn-large.waves-effect.waves-light.lighten-1(href='/products') Get Sauce
  //-       br
  //-   .parallax
  //-     img.parallax-img(src='/images/slide/contrast.jpg', alt='go chu img')

  //- .container
  //-   .section

  //- .parallax-container.valign-wrapper
  //-   .row
  //-     .col.s6.offset-s6
  //-       .contianer
  //-         br
  //-         h1.header.center.white-text.text-lighten-2 Try to beat it, I dare
  //-         .row.center
  //-         br

  //-   .parallax
  //-     img.parallax-img(src='/images/slide/vibrant_yellow_crop.jpg', alt='go chu second')
