extends ../layout

block content
  .row.background
    .col.l1
    .col.s12.m10.l10
      h1.pageTitle.center-align ABOUT US
        p.par 
          |hello world, meet go chu. 
        p.par
          |go chu was brought to life in a home kitchen 
          |in Denver, CO. T
