extends ../layout

block content
  .row.background
    .col.l1
    .col.s12.m12.l12
      h1.pageTitle.center-align ABOUT US
        br
        br
        p.par.left-align 
          |hello world, meet go chu. 
        p.par.left-align 
          | for some of you, this might be the first time you taste something like this. 
          | But for my sister and I, growing up the children of Korean immigrants, we had  
          | this with almost every meal -- and it helped spice up the american foods we'd 
          | come to love."
        p.par.left-align 
          | growing up in colorado, we wound up putting it on pizza, barbecue, chicken  
          | nuggets, even our fries -- you name it. It got to where our mom would prepare 
          | it for when friends came over and we'd all throw it on top of our sleepover 
          | pizza orders to kick it up a little, (and admittedly to make things more exotic).
        p.par.left-align 
          | after college, we figured this was a great way to share something a huge part of 
          | the world has fallen in love with, with another part of the world -- our world --  
          | that found it new. this should be for everyone.
        p.par.left-align 
          | and so we figured we'd share. 
        p.par.left-align 
          | like most food products and startups, it almost always comes from the mom, or 
          | the grandparents secret recipe. And we know: we're a cliche. But here's our offering. 
          | thanks for trying out a piece of our childhood.     
        p.par.left-align 
          | east and west, ancient and new; whatever -- make it yours now for any dish. 
