extends ../layout

block content
  .row
    .center
       h1.pageTitle.center-align PEOPLE LOVIN' ON GOCHU
    .col.sm12.m12.l4
      .card
        .video-container.responsive-video.controls
          iframe(src='videos/sorority1.mp4' frameborder="0" allowfullscreen)
    
    .col.sm12.m12.l4
      br
      .card
        .video-container.responsive-video.controls
          iframe(src='videos/girl1.mp4' frameborder="0" allowfullscreen)
          
    
    .col.sm12.m12.l4
      br
      .card
        .video-container.responsive-video.controls
          iframe(src='videos/girl3.mp4' frameborder="0" allowfullscreen)
          
    
    .col.sm12.m12.l4
      br
      .card
        .video-container.responsive-video.controls
          iframe(src='videos/girl4.mp4' frameborder="0" allowfullscreen)
              
    .col.sm12.m12.l4
      br.car
      d
        .video-container.responsive-video.controls
          iframe(src='videos/girls2.mp4' frameborder="0" allowfullscreen)
    
    .col.sm12.m12.l4
      br
      .card
        .video-container.responsive-video.controls
          iframe(src='videos/mom&daughter.mp4' frameborder="0" allowfullscreen)
          
          
