extends ../layout

block content
  .row
    .center
       h1.pageTitle.center-align PEOPLE LOVIN' ON GOCHU

  .row
    video(controls width='100%' autoplay)
      source(src='videos/sorority1.mp4', type='video/mp4')
  .row
    video(controls width='100%')
      source(src='videos/girl1.mp4', type='video/mp4')
  .row
    video(controls width='100%')
      source(src='videos/girl3.mp4', type='video/mp4')
  .row
    video(controls width='100%')
      source(src='videos/girl4.mp4', type='video/mp4')
  .row
    video(controls width='100%')
      source(src='videos/girls2.mp4', type='video/mp4')
  .row
    video(controls width='100%')
      source(src='videos/mom&daughter.mp4', type='video/mp4')



