.cart_table{
    background-color: transparent;
    box-shadow: none
}

hr{
    border: .5px solid white
}

.bordered{
    border-bottom-color: white
}

.updateQuant {
    width: 5rem;
    text-align: center;
    margin: 0 auto;
}

.checkout {
    padding: 5rem;
}