.col.s12.l6
  br
  br
  h5.privacy_heading.center Billing Details
  .row
    .input-field.col.s12
      input.validate(placeholder='first name', id='first_name', type='text')
    .input-field.col.s12
      input.validate(placeholder='last name', id='last_name', type='text')
  .row
    .input-field.col.s12
      input.validate(placeholder='company name', id='company_name', type='text')
  .row
    .input-field.col.s12
      input.validate(placeholder='street address', id='address', type='text')
      input.validate(placeholder='apt, suit, unit (optional)', id='address_2', type='text')
  .row
    .input-field.col.s12
      input.validate(placeholder='town/city', id='city', type='text')
  .row
    .input-field.col.s6
      input.validate(placeholder='state', id='state', type='text')

    .input-field.col.s6
      input.validate(placeholder='zip code', id='zip', type='text')
  .row
    .input-field.col.s12
      input.validate(placeholder='phone', id='phone', type='text')

  .row
    .input-field.col.s12
      input.validate(placeholder='email address', id='phone', type='text')
    .input-field
      input.validate(type='checkbox', name='create_', id='create_account')
    p
    input.validate(type='checkbox' id='save_address')
    label.white-text.par(for='save_address') save address?


.col.s12.l6
  br
  br
  br
  h5.privacy_heading.center-align  Ship to different address?
  p
  input.validate(type='checkbox' id='alt_address_check')
  label(for='alt_address_check')
  hr
  #alt_address
    .row
      .input-field.col.s12
        input.validate(placeholder='first name', id='first_name', type='text')
      .input-field.col.s12
        input.validate(placeholder='last name', id='last_name', type='text')
    .row
      .input-field.col.s12
        input.validate(placeholder='company name', id='company_name', type='text')
    .row
      .input-field.col.s12
        input.validate(placeholder='street address', id='address', type='text')
        input.validate(placeholder='apt, suit, unit (optional)', id='address_2', type='text')
    .row
      .input-field.col.s12
        input.validate(placeholder='town/city', id='city', type='text')
    .row
      .input-field.col.s6
        input.validate(placeholder='state', id='state', type='text')

      .input-field.col.s6
        input.validate(placeholder='zip code', id='zip', type='text')