extends ../layout

block content
  .center
    h5 Thank you for your purchase!
    p.par Order ##{id}
    p
      i.far.fa-check-circle.fa-5x.green-text
    p.par A confirmation has been sent to #{source.name}
    .center
      p
        a.gc-button.lightGrey_color.par.white-text(href='/products') continue shopping

