extends ../layout

block content
  if error
    span.error-badge.red.white-text.badge(data-badge-caption=`${error}`)
    
  form(action='/cart/shipping', method='POST')
    .row.checkout
      h5.pageTitle Shipping Address
      #alt_address
        .row
          .input-field.col.s6
            input.validate(name='first_name', type='text')
            label.white-text.par(for='first_name') first name
          .input-field.col.s6
            input.validate(name='last_name', type='text')
            label.white-text.par(for='last_name') last name
        .row
          .input-field.col.s12
            input.validate(name='company_name', type='text')
            label.white-text.par(for='company_name') company name
        .row
          .input-field.col.s12
            input.validate(name='address', type='text')
            label.white-text.par(for='address') address
        .row
          .input-field
            input.validate(name='address_2', type='text')
            label.white-text.par(for='address_2') apt, suit, unit (optional)
        .row
          .input-field.col.s12
            input.validate(name='city', type='text')
            label.white-text.par(for='city') city
        .row
          .input-field.col.s6
            //- select.white-text(name='state-shipping', required)
            select.white-text(name='state-shipping')
              option(value="" disabled selected) state
              option(value="AL") Alabama
              option(value="AK") Alaska
              option(value="AZ") Arizona
              option(value="AR") Arkansas
              option(value="CA") California
              option(value="CO") Colorado
              option(value="CT") Connecticut
              option(value="DE") Delaware
              option(value="DC") District Of Columbia
              option(value="FL") Florida
              option(value="GA") Georgia
              option(value="HI") Hawaii
              option(value="ID") Idaho
              option(value="IL") Illinois
              option(value="IN") Indiana
              option(value="IA") Iowa
              option(value="KS") Kansas
              option(value="KY") Kentucky
              option(value="LA") Louisiana
              option(value="ME") Maine
              option(value="MD") Maryland
              option(value="MA") Massachusetts
              option(value="MI") Michigan
              option(value="MN") Minnesota
              option(value="MS") Mississippi
              option(value="MO") Missouri
              option(value="MT") Montana
              option(value="NE") Nebraska
              option(value="NV") Nevada
              option(value="NH") New Hampshire
              option(value="NJ") New Jersey
              option(value="NM") New Mexico
              option(value="NY") New York
              option(value="NC") North Carolina
              option(value="ND") North Dakota
              option(value="OH") Ohio
              option(value="OK") Oklahoma
              option(value="OR") Oregon
              option(value="PA") Pennsylvania
              option(value="RI") Rhode Island
              option(value="SC") South Carolina
              option(value="SD") South Dakota
              option(value="TN") Tennessee
              option(value="TX") Texas
              option(value="UT") Utah
              option(value="VT") Vermont
              option(value="VA") Virginia
              option(value="WA") Washington
              option(value="WV") West Virginia
              option(value="WI") Wisconsin
              option(value="WY") Wyoming
          .input-field.col.s6
            input.validate(name='zip', type='text')
            label.white-text.par(for='zip') zip

    .row.center
      input.gc-button.lightGrey.par(type='submit', value='checkout')